[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==7.2.1"
deepdiff = "==6.2.3"

[packages]
bigtesty = "==0.1.0a8"

[requires]
python_version = "3.11"
