[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==7.2.1"
deepdiff = "==6.2.3"

[packages]
pulumi-gcp = "==6.67.0"
google-cloud-bigquery = "==3.4.2"
typer = { version = "==0.9.0", extras = ["all"] }
toolz = "==0.12.0"

[requires]
python_version = "3.11"
